<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Innovators 2016</title>  

	<!-- Bootstrap -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">

	<!-- Bootstrap Material Design -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap-material-design.css">
	<link rel="stylesheet" type="text/css" href="css/ripples.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">

	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/material.min.js"></script>
	<script type="text/javascript" src="js/ripples.min.js"></script>
</head>
<body>
		<div class="panel panel-default col-md-10 col-md-offset-2" style="margin-top: 50px;">
		  <div class="panel-body">
			<h1>Welcome to Innovators 2016</h1><br>

			<div class="panel panel-primary">
			  <div class="panel-heading">
			    <h3 class="panel-title"><img src="img/game_ledcube.png" alt="" height="40px;"> LED cube</h3>
			  </div>
			  <div class="panel-body">
			  	<!-- Group A -->
			    <div class="panel panel-primary">
				  <div class="panel-heading">
				    <h3 class="panel-title">Group A</h3>
				  </div>
				  <div class="panel-body">
				    <span class="label label-primary students">E/12/206</span>
				    <span class="label label-primary students">E/12/206</span>
				    <span class="label label-primary students">E/12/206</span>
				    <span class="label label-primary students">E/12/206</span>
				    <span class="label label-primary students">E/12/206</span>
				    <span class="label label-primary students">E/12/206</span>
				    <span class="label label-primary students">E/12/206</span>
				    <span class="label label-primary students">E/12/206</span>
				    <span class="label label-primary students">E/12/206</span>
				    <span class="label label-primary students">E/12/206</span>
				    <span class="label label-primary students">E/12/206</span>
				    <span class="label label-primary students">E/12/206</span>
				    <span class="label label-primary students">E/12/206</span>
				    <span class="label label-primary students">E/12/206</span>
				  </div>
				</div>
			  	<!-- Group A -->
			    <div class="panel panel-danger">
				  <div class="panel-heading">
				    <h3 class="panel-title">Group A</h3>
				  </div>
				  <div class="panel-body">
				    <span class="label label-danger students">E/12/206</span>
				    <span class="label label-danger students">E/12/206</span>
				    <span class="label label-danger students">E/12/206</span>
				    <span class="label label-danger students">E/12/206</span>
				    <span class="label label-danger students">E/12/206</span>
				    <span class="label label-danger students">E/12/206</span>
				    <span class="label label-danger students">E/12/206</span>
				    <span class="label label-danger students">E/12/206</span>
				    <span class="label label-danger students">E/12/206</span>
				    <span class="label label-danger students">E/12/206</span>
				    <span class="label label-danger students">E/12/206</span>
				    <span class="label label-danger students">E/12/206</span>
				    <span class="label label-danger students">E/12/206</span>
				    <span class="label label-danger students">E/12/206</span>
				  </div>
				</div>
			  	<!-- Group A -->
			    <div class="panel panel-success">
				  <div class="panel-heading">
				    <h3 class="panel-title">Group A</h3>
				  </div>
				  <div class="panel-body">
				    <span class="label label-success students">E/12/206</span>
				    <span class="label label-success students">E/12/206</span>
				    <span class="label label-success students">E/12/206</span>
				    <span class="label label-success students">E/12/206</span>
				    <span class="label label-success students">E/12/206</span>
				    <span class="label label-success students">E/12/206</span>
				    <span class="label label-success students">E/12/206</span>
				    <span class="label label-success students">E/12/206</span>
				    <span class="label label-success students">E/12/206</span>
				    <span class="label label-success students">E/12/206</span>
				    <span class="label label-success students">E/12/206</span>
				    <span class="label label-success students">E/12/206</span>
				    <span class="label label-success students">E/12/206</span>
				    <span class="label label-success students">E/12/206</span>
				  </div>
				</div>
			  	<!-- Group A -->
			    <div class="panel panel-warning">
				  <div class="panel-heading">
				    <h3 class="panel-title">Group A</h3>
				  </div>
				  <div class="panel-body">
				    <span class="label label-warning students">E/12/206</span>
				    <span class="label label-warning students">E/12/206</span>
				    <span class="label label-warning students">E/12/206</span>
				    <span class="label label-warning students">E/12/206</span>
				    <span class="label label-warning students">E/12/206</span>
				    <span class="label label-warning students">E/12/206</span>
				    <span class="label label-warning students">E/12/206</span>
				    <span class="label label-warning students">E/12/206</span>
				    <span class="label label-warning students">E/12/206</span>
				    <span class="label label-warning students">E/12/206</span>
				    <span class="label label-warning students">E/12/206</span>
				    <span class="label label-warning students">E/12/206</span>
				    <span class="label label-warning students">E/12/206</span>
				    <span class="label label-warning students">E/12/206</span>
				  </div>
				</div>
			  	<!-- Group A -->
			    <div class="panel panel-info">
				  <div class="panel-heading">
				    <h3 class="panel-title">Group A</h3>
				  </div>
				  <div class="panel-body">
				    <span class="label label-info students">E/12/206</span>
				    <span class="label label-info students">E/12/206</span>
				    <span class="label label-info students">E/12/206</span>
				    <span class="label label-info students">E/12/206</span>
				    <span class="label label-info students">E/12/206</span>
				    <span class="label label-info students">E/12/206</span>
				    <span class="label label-info students">E/12/206</span>
				    <span class="label label-info students">E/12/206</span>
				    <span class="label label-info students">E/12/206</span>
				    <span class="label label-info students">E/12/206</span>
				    <span class="label label-info students">E/12/206</span>
				    <span class="label label-info students">E/12/206</span>
				    <span class="label label-info students">E/12/206</span>
				    <span class="label label-info students">E/12/206</span>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		</div>
		<div class="panel panel-default col-md-10 col-md-offset-2" style="margin-top: 50px;">
		  <div class="panel-body">
			<h1>Welcome to Innovators 2016</h1><br>

			<div class="panel panel-primary">
			  <div class="panel-heading">
			    <h3 class="panel-title"><img src="img/game_linefollower.png" alt="" height="40px;"> Line Following Robot</h3>
			  </div>
			  <div class="panel-body">
			  	<!-- Group A -->
			    <div class="panel panel-primary">
				  <div class="panel-heading">
				    <h3 class="panel-title">Group A</h3>
				  </div>
				  <div class="panel-body">
				    <span class="label label-primary students">E/12/206</span>
				    <span class="label label-primary students">E/12/206</span>
				    <span class="label label-primary students">E/12/206</span>
				    <span class="label label-primary students">E/12/206</span>
				    <span class="label label-primary students">E/12/206</span>
				    <span class="label label-primary students">E/12/206</span>
				    <span class="label label-primary students">E/12/206</span>
				    <span class="label label-primary students">E/12/206</span>
				    <span class="label label-primary students">E/12/206</span>
				    <span class="label label-primary students">E/12/206</span>
				    <span class="label label-primary students">E/12/206</span>
				    <span class="label label-primary students">E/12/206</span>
				    <span class="label label-primary students">E/12/206</span>
				    <span class="label label-primary students">E/12/206</span>
				  </div>
				</div>
			  	<!-- Group A -->
			    <div class="panel panel-danger">
				  <div class="panel-heading">
				    <h3 class="panel-title">Group A</h3>
				  </div>
				  <div class="panel-body">
				    <span class="label label-danger students">E/12/206</span>
				    <span class="label label-danger students">E/12/206</span>
				    <span class="label label-danger students">E/12/206</span>
				    <span class="label label-danger students">E/12/206</span>
				    <span class="label label-danger students">E/12/206</span>
				    <span class="label label-danger students">E/12/206</span>
				    <span class="label label-danger students">E/12/206</span>
				    <span class="label label-danger students">E/12/206</span>
				    <span class="label label-danger students">E/12/206</span>
				    <span class="label label-danger students">E/12/206</span>
				    <span class="label label-danger students">E/12/206</span>
				    <span class="label label-danger students">E/12/206</span>
				    <span class="label label-danger students">E/12/206</span>
				    <span class="label label-danger students">E/12/206</span>
				  </div>
				</div>
			  	<!-- Group A -->
			    <div class="panel panel-success">
				  <div class="panel-heading">
				    <h3 class="panel-title">Group A</h3>
				  </div>
				  <div class="panel-body">
				    <span class="label label-success students">E/12/206</span>
				    <span class="label label-success students">E/12/206</span>
				    <span class="label label-success students">E/12/206</span>
				    <span class="label label-success students">E/12/206</span>
				    <span class="label label-success students">E/12/206</span>
				    <span class="label label-success students">E/12/206</span>
				    <span class="label label-success students">E/12/206</span>
				    <span class="label label-success students">E/12/206</span>
				    <span class="label label-success students">E/12/206</span>
				    <span class="label label-success students">E/12/206</span>
				    <span class="label label-success students">E/12/206</span>
				    <span class="label label-success students">E/12/206</span>
				    <span class="label label-success students">E/12/206</span>
				    <span class="label label-success students">E/12/206</span>
				  </div>
				</div>
			  	<!-- Group A -->
			    <div class="panel panel-warning">
				  <div class="panel-heading">
				    <h3 class="panel-title">Group A</h3>
				  </div>
				  <div class="panel-body">
				    <span class="label label-warning students">E/12/206</span>
				    <span class="label label-warning students">E/12/206</span>
				    <span class="label label-warning students">E/12/206</span>
				    <span class="label label-warning students">E/12/206</span>
				    <span class="label label-warning students">E/12/206</span>
				    <span class="label label-warning students">E/12/206</span>
				    <span class="label label-warning students">E/12/206</span>
				    <span class="label label-warning students">E/12/206</span>
				    <span class="label label-warning students">E/12/206</span>
				    <span class="label label-warning students">E/12/206</span>
				    <span class="label label-warning students">E/12/206</span>
				    <span class="label label-warning students">E/12/206</span>
				    <span class="label label-warning students">E/12/206</span>
				    <span class="label label-warning students">E/12/206</span>
				  </div>
				</div>
			  	<!-- Group A -->
			    <div class="panel panel-info">
				  <div class="panel-heading">
				    <h3 class="panel-title">Group A</h3>
				  </div>
				  <div class="panel-body">
				    <span class="label label-info students">E/12/206</span>
				    <span class="label label-info students">E/12/206</span>
				    <span class="label label-info students">E/12/206</span>
				    <span class="label label-info students">E/12/206</span>
				    <span class="label label-info students">E/12/206</span>
				    <span class="label label-info students">E/12/206</span>
				    <span class="label label-info students">E/12/206</span>
				    <span class="label label-info students">E/12/206</span>
				    <span class="label label-info students">E/12/206</span>
				    <span class="label label-info students">E/12/206</span>
				    <span class="label label-info students">E/12/206</span>
				    <span class="label label-info students">E/12/206</span>
				    <span class="label label-info students">E/12/206</span>
				    <span class="label label-info students">E/12/206</span>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		</div>
		<div class="panel panel-default col-md-10 col-md-offset-2" style="margin-top: 50px;">
		  <div class="panel-body">
			<h1>Welcome to Innovators 2016</h1><br>

			<div class="panel panel-primary">
			  <div class="panel-heading">
			    <h3 class="panel-title"><img src="img/game_hearth.png" alt="" height="40px;"> Hearth</h3>
			  </div>
			  <div class="panel-body">
			  	<!-- Group A -->
			    <div class="panel panel-primary">
				  <div class="panel-heading">
				    <h3 class="panel-title">Group A</h3>
				  </div>
				  <div class="panel-body">
				    <span class="label label-primary students">E/12/206</span>
				    <span class="label label-primary students">E/12/206</span>
				    <span class="label label-primary students">E/12/206</span>
				    <span class="label label-primary students">E/12/206</span>
				    <span class="label label-primary students">E/12/206</span>
				    <span class="label label-primary students">E/12/206</span>
				    <span class="label label-primary students">E/12/206</span>
				    <span class="label label-primary students">E/12/206</span>
				    <span class="label label-primary students">E/12/206</span>
				    <span class="label label-primary students">E/12/206</span>
				    <span class="label label-primary students">E/12/206</span>
				    <span class="label label-primary students">E/12/206</span>
				    <span class="label label-primary students">E/12/206</span>
				    <span class="label label-primary students">E/12/206</span>
				  </div>
				</div>
			  	<!-- Group A -->
			    <div class="panel panel-danger">
				  <div class="panel-heading">
				    <h3 class="panel-title">Group A</h3>
				  </div>
				  <div class="panel-body">
				    <span class="label label-danger students">E/12/206</span>
				    <span class="label label-danger students">E/12/206</span>
				    <span class="label label-danger students">E/12/206</span>
				    <span class="label label-danger students">E/12/206</span>
				    <span class="label label-danger students">E/12/206</span>
				    <span class="label label-danger students">E/12/206</span>
				    <span class="label label-danger students">E/12/206</span>
				    <span class="label label-danger students">E/12/206</span>
				    <span class="label label-danger students">E/12/206</span>
				    <span class="label label-danger students">E/12/206</span>
				    <span class="label label-danger students">E/12/206</span>
				    <span class="label label-danger students">E/12/206</span>
				    <span class="label label-danger students">E/12/206</span>
				    <span class="label label-danger students">E/12/206</span>
				  </div>
				</div>
			  	<!-- Group A -->
			    <div class="panel panel-success">
				  <div class="panel-heading">
				    <h3 class="panel-title">Group A</h3>
				  </div>
				  <div class="panel-body">
				    <span class="label label-success students">E/12/206</span>
				    <span class="label label-success students">E/12/206</span>
				    <span class="label label-success students">E/12/206</span>
				    <span class="label label-success students">E/12/206</span>
				    <span class="label label-success students">E/12/206</span>
				    <span class="label label-success students">E/12/206</span>
				    <span class="label label-success students">E/12/206</span>
				    <span class="label label-success students">E/12/206</span>
				    <span class="label label-success students">E/12/206</span>
				    <span class="label label-success students">E/12/206</span>
				    <span class="label label-success students">E/12/206</span>
				    <span class="label label-success students">E/12/206</span>
				    <span class="label label-success students">E/12/206</span>
				    <span class="label label-success students">E/12/206</span>
				  </div>
				</div>
			  	<!-- Group A -->
			    <div class="panel panel-warning">
				  <div class="panel-heading">
				    <h3 class="panel-title">Group A</h3>
				  </div>
				  <div class="panel-body">
				    <span class="label label-warning students">E/12/206</span>
				    <span class="label label-warning students">E/12/206</span>
				    <span class="label label-warning students">E/12/206</span>
				    <span class="label label-warning students">E/12/206</span>
				    <span class="label label-warning students">E/12/206</span>
				    <span class="label label-warning students">E/12/206</span>
				    <span class="label label-warning students">E/12/206</span>
				    <span class="label label-warning students">E/12/206</span>
				    <span class="label label-warning students">E/12/206</span>
				    <span class="label label-warning students">E/12/206</span>
				    <span class="label label-warning students">E/12/206</span>
				    <span class="label label-warning students">E/12/206</span>
				    <span class="label label-warning students">E/12/206</span>
				    <span class="label label-warning students">E/12/206</span>
				  </div>
				</div>
			  	<!-- Group A -->
			    <div class="panel panel-info">
				  <div class="panel-heading">
				    <h3 class="panel-title">Group A</h3>
				  </div>
				  <div class="panel-body">
				    <span class="label label-info students">E/12/206</span>
				    <span class="label label-info students">E/12/206</span>
				    <span class="label label-info students">E/12/206</span>
				    <span class="label label-info students">E/12/206</span>
				    <span class="label label-info students">E/12/206</span>
				    <span class="label label-info students">E/12/206</span>
				    <span class="label label-info students">E/12/206</span>
				    <span class="label label-info students">E/12/206</span>
				    <span class="label label-info students">E/12/206</span>
				    <span class="label label-info students">E/12/206</span>
				    <span class="label label-info students">E/12/206</span>
				    <span class="label label-info students">E/12/206</span>
				    <span class="label label-info students">E/12/206</span>
				    <span class="label label-info students">E/12/206</span>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		</div>
		<div class="panel panel-default col-md-10 col-md-offset-2" style="margin-top: 50px;">
		  <div class="panel-body">
			<h1>Welcome to Innovators 2016</h1><br>

			<div class="panel panel-primary">
			  <div class="panel-heading">
			    <h3 class="panel-title"><img src="img/game_ledcube.png" alt="" height="40px;"> LED cube</h3>
			  </div>
			  <div class="panel-body">
			  	<!-- Group A -->
			    <div class="panel panel-primary">
				  <div class="panel-heading">
				    <h3 class="panel-title">Group A</h3>
				  </div>
				  <div class="panel-body">
				    <span class="label label-primary students">E/12/206</span>
				    <span class="label label-primary students">E/12/206</span>
				    <span class="label label-primary students">E/12/206</span>
				    <span class="label label-primary students">E/12/206</span>
				    <span class="label label-primary students">E/12/206</span>
				    <span class="label label-primary students">E/12/206</span>
				    <span class="label label-primary students">E/12/206</span>
				    <span class="label label-primary students">E/12/206</span>
				    <span class="label label-primary students">E/12/206</span>
				    <span class="label label-primary students">E/12/206</span>
				    <span class="label label-primary students">E/12/206</span>
				    <span class="label label-primary students">E/12/206</span>
				    <span class="label label-primary students">E/12/206</span>
				    <span class="label label-primary students">E/12/206</span>
				  </div>
				</div>
			  	<!-- Group A -->
			    <div class="panel panel-danger">
				  <div class="panel-heading">
				    <h3 class="panel-title">Group A</h3>
				  </div>
				  <div class="panel-body">
				    <span class="label label-danger students">E/12/206</span>
				    <span class="label label-danger students">E/12/206</span>
				    <span class="label label-danger students">E/12/206</span>
				    <span class="label label-danger students">E/12/206</span>
				    <span class="label label-danger students">E/12/206</span>
				    <span class="label label-danger students">E/12/206</span>
				    <span class="label label-danger students">E/12/206</span>
				    <span class="label label-danger students">E/12/206</span>
				    <span class="label label-danger students">E/12/206</span>
				    <span class="label label-danger students">E/12/206</span>
				    <span class="label label-danger students">E/12/206</span>
				    <span class="label label-danger students">E/12/206</span>
				    <span class="label label-danger students">E/12/206</span>
				    <span class="label label-danger students">E/12/206</span>
				  </div>
				</div>
			  	<!-- Group A -->
			    <div class="panel panel-success">
				  <div class="panel-heading">
				    <h3 class="panel-title">Group A</h3>
				  </div>
				  <div class="panel-body">
				    <span class="label label-success students">E/12/206</span>
				    <span class="label label-success students">E/12/206</span>
				    <span class="label label-success students">E/12/206</span>
				    <span class="label label-success students">E/12/206</span>
				    <span class="label label-success students">E/12/206</span>
				    <span class="label label-success students">E/12/206</span>
				    <span class="label label-success students">E/12/206</span>
				    <span class="label label-success students">E/12/206</span>
				    <span class="label label-success students">E/12/206</span>
				    <span class="label label-success students">E/12/206</span>
				    <span class="label label-success students">E/12/206</span>
				    <span class="label label-success students">E/12/206</span>
				    <span class="label label-success students">E/12/206</span>
				    <span class="label label-success students">E/12/206</span>
				  </div>
				</div>
			  	<!-- Group A -->
			    <div class="panel panel-warning">
				  <div class="panel-heading">
				    <h3 class="panel-title">Group A</h3>
				  </div>
				  <div class="panel-body">
				    <span class="label label-warning students">E/12/206</span>
				    <span class="label label-warning students">E/12/206</span>
				    <span class="label label-warning students">E/12/206</span>
				    <span class="label label-warning students">E/12/206</span>
				    <span class="label label-warning students">E/12/206</span>
				    <span class="label label-warning students">E/12/206</span>
				    <span class="label label-warning students">E/12/206</span>
				    <span class="label label-warning students">E/12/206</span>
				    <span class="label label-warning students">E/12/206</span>
				    <span class="label label-warning students">E/12/206</span>
				    <span class="label label-warning students">E/12/206</span>
				    <span class="label label-warning students">E/12/206</span>
				    <span class="label label-warning students">E/12/206</span>
				    <span class="label label-warning students">E/12/206</span>
				  </div>
				</div>
			  	<!-- Group A -->
			    <div class="panel panel-info">
				  <div class="panel-heading">
				    <h3 class="panel-title">Group A</h3>
				  </div>
				  <div class="panel-body">
				    <span class="label label-info students">E/12/206</span>
				    <span class="label label-info students">E/12/206</span>
				    <span class="label label-info students">E/12/206</span>
				    <span class="label label-info students">E/12/206</span>
				    <span class="label label-info students">E/12/206</span>
				    <span class="label label-info students">E/12/206</span>
				    <span class="label label-info students">E/12/206</span>
				    <span class="label label-info students">E/12/206</span>
				    <span class="label label-info students">E/12/206</span>
				    <span class="label label-info students">E/12/206</span>
				    <span class="label label-info students">E/12/206</span>
				    <span class="label label-info students">E/12/206</span>
				    <span class="label label-info students">E/12/206</span>
				    <span class="label label-info students">E/12/206</span>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		</div>
		<div class="panel panel-default col-md-10 col-md-offset-2" style="margin-top: 50px;">
		  <div class="panel-body">
			<h1>Welcome to Innovators 2016</h1><br>

			<div class="panel panel-primary">
			  <div class="panel-heading">
			    <h3 class="panel-title"><img src="img/game_ledcube.png" alt="" height="40px;"> LED cube</h3>
			  </div>
			  <div class="panel-body">
			  	<!-- Group A -->
			    <div class="panel panel-primary">
				  <div class="panel-heading">
				    <h3 class="panel-title">Group A</h3>
				  </div>
				  <div class="panel-body">
				    <span class="label label-primary students">E/12/206</span>
				    <span class="label label-primary students">E/12/206</span>
				    <span class="label label-primary students">E/12/206</span>
				    <span class="label label-primary students">E/12/206</span>
				    <span class="label label-primary students">E/12/206</span>
				    <span class="label label-primary students">E/12/206</span>
				    <span class="label label-primary students">E/12/206</span>
				    <span class="label label-primary students">E/12/206</span>
				    <span class="label label-primary students">E/12/206</span>
				    <span class="label label-primary students">E/12/206</span>
				    <span class="label label-primary students">E/12/206</span>
				    <span class="label label-primary students">E/12/206</span>
				    <span class="label label-primary students">E/12/206</span>
				    <span class="label label-primary students">E/12/206</span>
				  </div>
				</div>
			  	<!-- Group A -->
			    <div class="panel panel-danger">
				  <div class="panel-heading">
				    <h3 class="panel-title">Group A</h3>
				  </div>
				  <div class="panel-body">
				    <span class="label label-danger students">E/12/206</span>
				    <span class="label label-danger students">E/12/206</span>
				    <span class="label label-danger students">E/12/206</span>
				    <span class="label label-danger students">E/12/206</span>
				    <span class="label label-danger students">E/12/206</span>
				    <span class="label label-danger students">E/12/206</span>
				    <span class="label label-danger students">E/12/206</span>
				    <span class="label label-danger students">E/12/206</span>
				    <span class="label label-danger students">E/12/206</span>
				    <span class="label label-danger students">E/12/206</span>
				    <span class="label label-danger students">E/12/206</span>
				    <span class="label label-danger students">E/12/206</span>
				    <span class="label label-danger students">E/12/206</span>
				    <span class="label label-danger students">E/12/206</span>
				  </div>
				</div>
			  	<!-- Group A -->
			    <div class="panel panel-success">
				  <div class="panel-heading">
				    <h3 class="panel-title">Group A</h3>
				  </div>
				  <div class="panel-body">
				    <span class="label label-success students">E/12/206</span>
				    <span class="label label-success students">E/12/206</span>
				    <span class="label label-success students">E/12/206</span>
				    <span class="label label-success students">E/12/206</span>
				    <span class="label label-success students">E/12/206</span>
				    <span class="label label-success students">E/12/206</span>
				    <span class="label label-success students">E/12/206</span>
				    <span class="label label-success students">E/12/206</span>
				    <span class="label label-success students">E/12/206</span>
				    <span class="label label-success students">E/12/206</span>
				    <span class="label label-success students">E/12/206</span>
				    <span class="label label-success students">E/12/206</span>
				    <span class="label label-success students">E/12/206</span>
				    <span class="label label-success students">E/12/206</span>
				  </div>
				</div>
			  	<!-- Group A -->
			    <div class="panel panel-warning">
				  <div class="panel-heading">
				    <h3 class="panel-title">Group A</h3>
				  </div>
				  <div class="panel-body">
				    <span class="label label-warning students">E/12/206</span>
				    <span class="label label-warning students">E/12/206</span>
				    <span class="label label-warning students">E/12/206</span>
				    <span class="label label-warning students">E/12/206</span>
				    <span class="label label-warning students">E/12/206</span>
				    <span class="label label-warning students">E/12/206</span>
				    <span class="label label-warning students">E/12/206</span>
				    <span class="label label-warning students">E/12/206</span>
				    <span class="label label-warning students">E/12/206</span>
				    <span class="label label-warning students">E/12/206</span>
				    <span class="label label-warning students">E/12/206</span>
				    <span class="label label-warning students">E/12/206</span>
				    <span class="label label-warning students">E/12/206</span>
				    <span class="label label-warning students">E/12/206</span>
				  </div>
				</div>
			  	<!-- Group A -->
			    <div class="panel panel-info">
				  <div class="panel-heading">
				    <h3 class="panel-title">Group A</h3>
				  </div>
				  <div class="panel-body">
				    <span class="label label-info students">E/12/206</span>
				    <span class="label label-info students">E/12/206</span>
				    <span class="label label-info students">E/12/206</span>
				    <span class="label label-info students">E/12/206</span>
				    <span class="label label-info students">E/12/206</span>
				    <span class="label label-info students">E/12/206</span>
				    <span class="label label-info students">E/12/206</span>
				    <span class="label label-info students">E/12/206</span>
				    <span class="label label-info students">E/12/206</span>
				    <span class="label label-info students">E/12/206</span>
				    <span class="label label-info students">E/12/206</span>
				    <span class="label label-info students">E/12/206</span>
				    <span class="label label-info students">E/12/206</span>
				    <span class="label label-info students">E/12/206</span>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		</div>
		<div class="panel panel-default col-md-10 col-md-offset-2" style="margin-top: 50px;">
		  <div class="panel-body">
			<h1>Welcome to Innovators 2016</h1><br>

			<div class="panel panel-primary">
			  <div class="panel-heading">
			    <h3 class="panel-title"><img src="img/game_ledcube.png" alt="" height="40px;"> LED cube</h3>
			  </div>
			  <div class="panel-body">
			  	<!-- Group A -->
			    <div class="panel panel-primary">
				  <div class="panel-heading">
				    <h3 class="panel-title">Group A</h3>
				  </div>
				  <div class="panel-body">
				    <span class="label label-primary students">E/12/206</span>
				    <span class="label label-primary students">E/12/206</span>
				    <span class="label label-primary students">E/12/206</span>
				    <span class="label label-primary students">E/12/206</span>
				    <span class="label label-primary students">E/12/206</span>
				    <span class="label label-primary students">E/12/206</span>
				    <span class="label label-primary students">E/12/206</span>
				    <span class="label label-primary students">E/12/206</span>
				    <span class="label label-primary students">E/12/206</span>
				    <span class="label label-primary students">E/12/206</span>
				    <span class="label label-primary students">E/12/206</span>
				    <span class="label label-primary students">E/12/206</span>
				    <span class="label label-primary students">E/12/206</span>
				    <span class="label label-primary students">E/12/206</span>
				  </div>
				</div>
			  	<!-- Group A -->
			    <div class="panel panel-danger">
				  <div class="panel-heading">
				    <h3 class="panel-title">Group A</h3>
				  </div>
				  <div class="panel-body">
				    <span class="label label-danger students">E/12/206</span>
				    <span class="label label-danger students">E/12/206</span>
				    <span class="label label-danger students">E/12/206</span>
				    <span class="label label-danger students">E/12/206</span>
				    <span class="label label-danger students">E/12/206</span>
				    <span class="label label-danger students">E/12/206</span>
				    <span class="label label-danger students">E/12/206</span>
				    <span class="label label-danger students">E/12/206</span>
				    <span class="label label-danger students">E/12/206</span>
				    <span class="label label-danger students">E/12/206</span>
				    <span class="label label-danger students">E/12/206</span>
				    <span class="label label-danger students">E/12/206</span>
				    <span class="label label-danger students">E/12/206</span>
				    <span class="label label-danger students">E/12/206</span>
				  </div>
				</div>
			  	<!-- Group A -->
			    <div class="panel panel-success">
				  <div class="panel-heading">
				    <h3 class="panel-title">Group A</h3>
				  </div>
				  <div class="panel-body">
				    <span class="label label-success students">E/12/206</span>
				    <span class="label label-success students">E/12/206</span>
				    <span class="label label-success students">E/12/206</span>
				    <span class="label label-success students">E/12/206</span>
				    <span class="label label-success students">E/12/206</span>
				    <span class="label label-success students">E/12/206</span>
				    <span class="label label-success students">E/12/206</span>
				    <span class="label label-success students">E/12/206</span>
				    <span class="label label-success students">E/12/206</span>
				    <span class="label label-success students">E/12/206</span>
				    <span class="label label-success students">E/12/206</span>
				    <span class="label label-success students">E/12/206</span>
				    <span class="label label-success students">E/12/206</span>
				    <span class="label label-success students">E/12/206</span>
				  </div>
				</div>
			  	<!-- Group A -->
			    <div class="panel panel-warning">
				  <div class="panel-heading">
				    <h3 class="panel-title">Group A</h3>
				  </div>
				  <div class="panel-body">
				    <span class="label label-warning students">E/12/206</span>
				    <span class="label label-warning students">E/12/206</span>
				    <span class="label label-warning students">E/12/206</span>
				    <span class="label label-warning students">E/12/206</span>
				    <span class="label label-warning students">E/12/206</span>
				    <span class="label label-warning students">E/12/206</span>
				    <span class="label label-warning students">E/12/206</span>
				    <span class="label label-warning students">E/12/206</span>
				    <span class="label label-warning students">E/12/206</span>
				    <span class="label label-warning students">E/12/206</span>
				    <span class="label label-warning students">E/12/206</span>
				    <span class="label label-warning students">E/12/206</span>
				    <span class="label label-warning students">E/12/206</span>
				    <span class="label label-warning students">E/12/206</span>
				  </div>
				</div>
			  	<!-- Group A -->
			    <div class="panel panel-info">
				  <div class="panel-heading">
				    <h3 class="panel-title">Group A</h3>
				  </div>
				  <div class="panel-body">
				    <span class="label label-info students">E/12/206</span>
				    <span class="label label-info students">E/12/206</span>
				    <span class="label label-info students">E/12/206</span>
				    <span class="label label-info students">E/12/206</span>
				    <span class="label label-info students">E/12/206</span>
				    <span class="label label-info students">E/12/206</span>
				    <span class="label label-info students">E/12/206</span>
				    <span class="label label-info students">E/12/206</span>
				    <span class="label label-info students">E/12/206</span>
				    <span class="label label-info students">E/12/206</span>
				    <span class="label label-info students">E/12/206</span>
				    <span class="label label-info students">E/12/206</span>
				    <span class="label label-info students">E/12/206</span>
				    <span class="label label-info students">E/12/206</span>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		</div>
		<div class="panel panel-default col-md-2 " style="margin-top: 50px; height: 300px; background: #20BD39; color: #fff; position: fixed;">
		  <!-- 
		  <div class="panel-body text-center">
				<h2 style="margin: 10px;">E/14/123</h2>
				<img src="img/game_ledcube.png" alt="">
				<h3>LED cube</h3>
				<h3 style="margin: 0; font-weight: bold;">Group A</h3>
		  </div> -->
		  <div class="panel-body text-center">
				<h2  id="display_number"style="margin: 10px;">Registration</h2>
				<img  id="display_icon"src="img/game_ledcube.png" alt="">
				<h3 id="display_game">Welcome</h3>
				<h3 id="display_team" style="margin: 0; font-weight: bold;"></h3>
		  </div>
		</div>
	<script type="text/javascript" src="js/registration.js"></script>
	<script>
		$.material.init();
	</script>
</body>
</html>