extends layout

block content
  h1= title
  p Welcome to #{title}
  br
  p But, this is not where you should be looking for..
  //- a(href="/patternRequest") View the Simulator
  a(href="/patternRequest") Click here to request to view a pattern in simulator from here
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  hr
  span powered by, 
  a(href="https://www.facebook.com/uophackers/") Hacker's Club, University of Peradeniya