<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>LED cube: Scoreboard | Innovators 2016</title>  

	<!-- Bootstrap -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">

	<!-- Bootstrap Material Design -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap-material-design.css">
	<link rel="stylesheet" type="text/css" href="css/ripples.min.css">
	<link rel="stylesheet" type="text/css" href="css/snackbar.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">

	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/material.min.js"></script>
	<script type="text/javascript" src="js/ripples.min.js"></script>
	<script type="text/javascript" src="js/snackbar.min.js"></script>
	<script type="text/javascript" src="js/socket.io.js"></script>
	<script type="text/javascript" src="js/three.min.js"></script>
	<style>

		#poweredby{
			background: url("img/logo.png") no-repeat center;
			background-size: contain;
			width: 100%;
			min-height: 80px;
			margin-top: 40px;
			/*pointer-events: none;*/
		}
		/*Patterns*/
		.patternList{
			text-align: center;
			padding-bottom: 30px;
		}
		.patternGroup{
			text-align: center;
			display: inline-block;
			padding: 10px;
		}
		.patternGroup .patternName{
			display: block;
		}

		#threeJS_Simulator { 
			/*width: 25%; */
			/*height: 100%;*/
			margin-top: 20px;
			min-height: 400px;
			position: relative;
			background: rgba(0,0,0,0.9);
			/*border-radius: 300px;*/
		}
		.blurry{
			filter: none;
			transition: filter .3s;
		}
		.blurry.active{
			filter: blur(3px);
		}
		table, td, th{
			font-size: 20pt;
		}
	</style>
	<script>


		var nextPattern = 0;
		var currentPattern = 0;
		var display_timerInterval;
		var display_timerCount = 10;

		var socket = io();

		$("#poweredby").ready(function(){
			$("#display_timer").hide();
			$("#display_queue_content").hide();

		});

		var display_queue = [];


		socket.on('request_pattern', function(data){
			if(display_queue.length > 10) return;
			nextPattern = data.id;
			if(nextPattern == currentPattern){
				return;
			}

			currentPattern = nextPattern;
			display_queue.push(nextPattern);
			$("#display_queue_content").fadeIn();
			$("#display_queue_content .text").text(JSON.stringify(display_queue));
			console.log(data);
			if(display_timerCount < 10) {
				return;
			}
			if($.inArray(nextPattern, [1,2,3,4,5,6,7,8,9,10])){
				display_startTimer();
				setTimeout(function(){
					setPattern(data.id);
					display_endTimer();
				}, 10000);
			}
		});


		function display_startTimer(){
			clearInterval(display_timerInterval);
			display_timerInterval = setInterval(function(){

				$("#display_timer").fadeIn();
				$("#display_timer").html('<i class="material-icons">timer</i> Changing to Pattern ' + nextPattern + ' in ' + (display_timerCount--) + 's...');
			}, 1000);
		}

		function display_endTimer(){
			clearInterval(display_timerInterval);
			display_timerCount = 10;

			display_queue.splice(0, 1);

			$("#display_timer").fadeOut();
			$("#display_queue_content").fadeOut();

			if(display_queue.length > 0){
				$("#display_queue_content").fadeIn();
				$("#display_queue_content span.text").text(JSON.stringify(display_queue));
				nextPattern = display_queue[0];
				if($.inArray(nextPattern, [1,2,3,4,5,6,7,8,9,10])){
					display_startTimer();
					setTimeout(function(){
						setPattern(nextPattern);
						display_endTimer();
					}, 10000);
				}
			} else {
				$("#display_queue_content").fadeOut();
			}
		}

	</script>
</head>
<body>
	<div class="blurry">
		<ul class="nav nav-tabs" style="margin-bottom: 15px;">
		  <li class="active"><a href="#GroupA" data-toggle="tab">Optimus</a></li>
		  <li><a href="#GroupB" data-toggle="tab">Candles</a></li>
		  <li><a href="#GroupC" data-toggle="tab">Dell 10</a></li>
		  <li><a href="#GroupD" data-toggle="tab">Cube flanger</a></li>
		  <li><a href="#GroupE" data-toggle="tab">Knight Riders</a></li>
		  <li><a href="#GroupF" data-toggle="tab">Kicking Sparking</a></li>
		</ul>
		<div id="myTabContent" class="tab-content">
		  <div class="tab-pane fade active in" id="GroupA">

			<div class="col-md-12">
				<div class="panel panel-default col-md-12 " style="margin-top: 20px; margin-bottom: 0px; background: #20BD39; color: #fff;">
				  <div class="panel-body text-center">
						<img  id="display_icon"src="img/game_ledcube.png" alt="">
						<h1 id="display_teamName" style="font-size: 18pt;">Optimus</h1>
				  </div>
				</div>
				<div class="panel panel-default col-md-12 patternList" style="margin-top: 0px;">
				  <div class="panel-body">
				  	<div id="pattern_1_A" class="patternGroup">
				  		<a href="javascript:void(0)" class="btn btn-default btn-fab btn-info"><i class="material-icons">grade</i></a>
				  		<span class="patternName">Pattern 1</span>
				  	</div>
				  	<div id="pattern_2_A" class="patternGroup">
				  		<a href="javascript:void(0)" class="btn btn-default btn-fab btn-info"><i class="material-icons">grade</i></a>
				  		<span class="patternName">Pattern 2</span>
				  	</div>
				  	<div id="pattern_3_A" class="patternGroup">
				  		<a href="javascript:void(0)" class="btn btn-default btn-fab btn-info"><i class="material-icons">grade</i></a>
				  		<span class="patternName">Pattern 3</span>
				  	</div>
				  	<div id="pattern_4_A" class="patternGroup">
				  		<a href="javascript:void(0)" class="btn btn-default btn-fab btn-info"><i class="material-icons">grade</i></a>
				  		<span class="patternName">Pattern 4</span>
				  	</div>
				  	<div id="pattern_5_A" class="patternGroup">
				  		<a href="javascript:void(0)" class="btn btn-default btn-fab btn-info"><i class="material-icons">grade</i></a>
				  		<span class="patternName">Pattern 5</span>
				  	</div>
				  	<div id="pattern_6_A" class="patternGroup">
				  		<a href="javascript:void(0)" class="btn btn-default btn-fab btn-info"><i class="material-icons">grade</i></a>
				  		<span class="patternName">Pattern 6</span>
				  	</div>
				  	<div id="pattern_7_A" class="patternGroup">
				  		<a href="javascript:void(0)" class="btn btn-default btn-fab btn-info"><i class="material-icons">grade</i></a>
				  		<span class="patternName">Pattern 7</span>
				  	</div>
				  	<div id="pattern_8_A" class="patternGroup">
				  		<a href="javascript:void(0)" class="btn btn-default btn-fab btn-info"><i class="material-icons">grade</i></a>
				  		<span class="patternName">Pattern 8</span>
				  	</div>
				  	<div id="pattern_9_A" class="patternGroup">
				  		<a href="javascript:void(0)" class="btn btn-default btn-fab btn-info"><i class="material-icons">grade</i></a>
				  		<span class="patternName">Pattern 9</span>
				  	</div>
				  </div>
				  <div class="panel-footer" style="margin-bottom: -20px;">
				  	<h3 style="margin: 0;">Score</h3>
				  	<h1 id="score_A" style="margin: 0;">0000</h1>
				  </div>
				</div>
			</div>
		  </div>
		  <div class="tab-pane fade" id="GroupB">
			<div class="col-md-12">
				<div class="panel panel-default col-md-12 " style="margin-top: 20px; margin-bottom: 0px; background: #20BD39; color: #fff;">
				  <div class="panel-body text-center">
						<img  id="display_icon"src="img/game_ledcube.png" alt="">
						<h1 id="display_teamName" style="font-size: 18pt;">Candles</h1>
				  </div>
				</div>
				<div class="panel panel-default col-md-12 patternList" style="margin-top: 0px;">
				  <div class="panel-body">
				  	<div id="pattern_1_B" class="patternGroup">
				  		<a href="javascript:void(0)" class="btn btn-default btn-fab btn-info"><i class="material-icons">grade</i></a>
				  		<span class="patternName">Pattern 1</span>
				  	</div>
				  	<div id="pattern_2_B" class="patternGroup">
				  		<a href="javascript:void(0)" class="btn btn-default btn-fab btn-info"><i class="material-icons">grade</i></a>
				  		<span class="patternName">Pattern 2</span>
				  	</div>
				  	<div id="pattern_3_B" class="patternGroup">
				  		<a href="javascript:void(0)" class="btn btn-default btn-fab btn-info"><i class="material-icons">grade</i></a>
				  		<span class="patternName">Pattern 3</span>
				  	</div>
				  	<div id="pattern_4_B" class="patternGroup">
				  		<a href="javascript:void(0)" class="btn btn-default btn-fab btn-info"><i class="material-icons">grade</i></a>
				  		<span class="patternName">Pattern 4</span>
				  	</div>
				  	<div id="pattern_5_B" class="patternGroup">
				  		<a href="javascript:void(0)" class="btn btn-default btn-fab btn-info"><i class="material-icons">grade</i></a>
				  		<span class="patternName">Pattern 5</span>
				  	</div>
				  	<div id="pattern_6_B" class="patternGroup">
				  		<a href="javascript:void(0)" class="btn btn-default btn-fab btn-info"><i class="material-icons">grade</i></a>
				  		<span class="patternName">Pattern 6</span>
				  	</div>
				  	<div id="pattern_7_B" class="patternGroup">
				  		<a href="javascript:void(0)" class="btn btn-default btn-fab btn-info"><i class="material-icons">grade</i></a>
				  		<span class="patternName">Pattern 7</span>
				  	</div>
				  	<div id="pattern_8_B" class="patternGroup">
				  		<a href="javascript:void(0)" class="btn btn-default btn-fab btn-info"><i class="material-icons">grade</i></a>
				  		<span class="patternName">Pattern 8</span>
				  	</div>
				  	<div id="pattern_9_B" class="patternGroup">
				  		<a href="javascript:void(0)" class="btn btn-default btn-fab btn-info"><i class="material-icons">grade</i></a>
				  		<span class="patternName">Pattern 9</span>
				  	</div>
				  </div>
				  <div class="panel-footer" style="margin-bottom: -20px;">
				  	<h3 style="margin: 0;">Score</h3>
				  	<h1 id="score_B" style="margin: 0;">0000</h1>
				  </div>
				</div>
			</div>
		  </div>
		  <div class="tab-pane fade" id="GroupC">
			<div class="col-md-12">
				<div class="panel panel-default col-md-12 " style="margin-top: 20px; margin-bottom: 0px; background: #20BD39; color: #fff;">
				  <div class="panel-body text-center">
						<img  id="display_icon"src="img/game_ledcube.png" alt="">
						<h1 id="display_teamName" style="font-size: 18pt;">Dell 10</h1>
				  </div>
				</div>
				<div class="panel panel-default col-md-12 patternList" style="margin-top: 0px;">
				  <div class="panel-body">
				  	<div id="pattern_1_C" class="patternGroup">
				  		<a href="javascript:void(0)" class="btn btn-default btn-fab btn-info"><i class="material-icons">grade</i></a>
				  		<span class="patternName">Pattern 1</span>
				  	</div>
				  	<div id="pattern_2_C" class="patternGroup">
				  		<a href="javascript:void(0)" class="btn btn-default btn-fab btn-info"><i class="material-icons">grade</i></a>
				  		<span class="patternName">Pattern 2</span>
				  	</div>
				  	<div id="pattern_3_C" class="patternGroup">
				  		<a href="javascript:void(0)" class="btn btn-default btn-fab btn-info"><i class="material-icons">grade</i></a>
				  		<span class="patternName">Pattern 3</span>
				  	</div>
				  	<div id="pattern_4_C" class="patternGroup">
				  		<a href="javascript:void(0)" class="btn btn-default btn-fab btn-info"><i class="material-icons">grade</i></a>
				  		<span class="patternName">Pattern 4</span>
				  	</div>
				  	<div id="pattern_5_C" class="patternGroup">
				  		<a href="javascript:void(0)" class="btn btn-default btn-fab btn-info"><i class="material-icons">grade</i></a>
				  		<span class="patternName">Pattern 5</span>
				  	</div>
				  	<div id="pattern_6_C" class="patternGroup">
				  		<a href="javascript:void(0)" class="btn btn-default btn-fab btn-info"><i class="material-icons">grade</i></a>
				  		<span class="patternName">Pattern 6</span>
				  	</div>
				  	<div id="pattern_7_C" class="patternGroup">
				  		<a href="javascript:void(0)" class="btn btn-default btn-fab btn-info"><i class="material-icons">grade</i></a>
				  		<span class="patternName">Pattern 7</span>
				  	</div>
				  	<div id="pattern_8_C" class="patternGroup">
				  		<a href="javascript:void(0)" class="btn btn-default btn-fab btn-info"><i class="material-icons">grade</i></a>
				  		<span class="patternName">Pattern 8</span>
				  	</div>
				  	<div id="pattern_9_C" class="patternGroup">
				  		<a href="javascript:void(0)" class="btn btn-default btn-fab btn-info"><i class="material-icons">grade</i></a>
				  		<span class="patternName">Pattern 9</span>
				  	</div>
				  </div>
				  <div class="panel-footer" style="margin-bottom: -20px;">
				  	<h3 style="margin: 0;">Score</h3>
				  	<h1 id="score_C" style="margin: 0;">0000</h1>
				  </div>
				</div>
			</div>
		  </div>
		  <div class="tab-pane fade" id="GroupD">
			<div class="col-md-12">
				<div class="panel panel-default col-md-12 " style="margin-top: 20px; margin-bottom: 0px; background: #20BD39; color: #fff;">
				  <div class="panel-body text-center">
						<img  id="display_icon"src="img/game_ledcube.png" alt="">
						<h1 id="display_teamName" style="font-size: 18pt;">Cube flanger</h1>
				  </div>
				</div>
				<div class="panel panel-default col-md-12 patternList" style="margin-top: 0px;">
				  <div class="panel-body">
				  	<div id="pattern_1_D" class="patternGroup">
				  		<a href="javascript:void(0)" class="btn btn-default btn-fab btn-info"><i class="material-icons">grade</i></a>
				  		<span class="patternName">Pattern 1</span>
				  	</div>
				  	<div id="pattern_2_D" class="patternGroup">
				  		<a href="javascript:void(0)" class="btn btn-default btn-fab btn-info"><i class="material-icons">grade</i></a>
				  		<span class="patternName">Pattern 2</span>
				  	</div>
				  	<div id="pattern_3_D" class="patternGroup">
				  		<a href="javascript:void(0)" class="btn btn-default btn-fab btn-info"><i class="material-icons">grade</i></a>
				  		<span class="patternName">Pattern 3</span>
				  	</div>
				  	<div id="pattern_4_D" class="patternGroup">
				  		<a href="javascript:void(0)" class="btn btn-default btn-fab btn-info"><i class="material-icons">grade</i></a>
				  		<span class="patternName">Pattern 4</span>
				  	</div>
				  	<div id="pattern_5_D" class="patternGroup">
				  		<a href="javascript:void(0)" class="btn btn-default btn-fab btn-info"><i class="material-icons">grade</i></a>
				  		<span class="patternName">Pattern 5</span>
				  	</div>
				  	<div id="pattern_6_D" class="patternGroup">
				  		<a href="javascript:void(0)" class="btn btn-default btn-fab btn-info"><i class="material-icons">grade</i></a>
				  		<span class="patternName">Pattern 6</span>
				  	</div>
				  	<div id="pattern_7_D" class="patternGroup">
				  		<a href="javascript:void(0)" class="btn btn-default btn-fab btn-info"><i class="material-icons">grade</i></a>
				  		<span class="patternName">Pattern 7</span>
				  	</div>
				  	<div id="pattern_8_D" class="patternGroup">
				  		<a href="javascript:void(0)" class="btn btn-default btn-fab btn-info"><i class="material-icons">grade</i></a>
				  		<span class="patternName">Pattern 8</span>
				  	</div>
				  	<div id="pattern_9_D" class="patternGroup">
				  		<a href="javascript:void(0)" class="btn btn-default btn-fab btn-info"><i class="material-icons">grade</i></a>
				  		<span class="patternName">Pattern 9</span>
				  	</div>
				  </div>
				  <div class="panel-footer" style="margin-bottom: -20px;">
				  	<h3 style="margin: 0;">Score</h3>
				  	<h1 id="score_D" style="margin: 0;">0000</h1>
				  </div>
				</div>
			</div>
		  </div>
		  <div class="tab-pane fade" id="GroupE">
			<div class="col-md-12">
				<div class="panel panel-default col-md-12 " style="margin-top: 20px; margin-bottom: 0px; background: #20BD39; color: #fff;">
				  <div class="panel-body text-center">
						<img  id="display_icon"src="img/game_ledcube.png" alt="">
						<h1 id="display_teamName" style="font-size: 18pt;">Knight Riders</h1>
				  </div>
				</div>
				<div class="panel panel-default col-md-12 patternList" style="margin-top: 0px;">
				  <div class="panel-body">
				  	<div id="pattern_1_E" class="patternGroup">
				  		<a href="javascript:void(0)" class="btn btn-default btn-fab btn-info"><i class="material-icons">grade</i></a>
				  		<span class="patternName">Pattern 1</span>
				  	</div>
				  	<div id="pattern_2_E" class="patternGroup">
				  		<a href="javascript:void(0)" class="btn btn-default btn-fab btn-info"><i class="material-icons">grade</i></a>
				  		<span class="patternName">Pattern 2</span>
				  	</div>
				  	<div id="pattern_3_E" class="patternGroup">
				  		<a href="javascript:void(0)" class="btn btn-default btn-fab btn-info"><i class="material-icons">grade</i></a>
				  		<span class="patternName">Pattern 3</span>
				  	</div>
				  	<div id="pattern_4_E" class="patternGroup">
				  		<a href="javascript:void(0)" class="btn btn-default btn-fab btn-info"><i class="material-icons">grade</i></a>
				  		<span class="patternName">Pattern 4</span>
				  	</div>
				  	<div id="pattern_5_E" class="patternGroup">
				  		<a href="javascript:void(0)" class="btn btn-default btn-fab btn-info"><i class="material-icons">grade</i></a>
				  		<span class="patternName">Pattern 5</span>
				  	</div>
				  	<div id="pattern_6_E" class="patternGroup">
				  		<a href="javascript:void(0)" class="btn btn-default btn-fab btn-info"><i class="material-icons">grade</i></a>
				  		<span class="patternName">Pattern 6</span>
				  	</div>
				  	<div id="pattern_7_E" class="patternGroup">
				  		<a href="javascript:void(0)" class="btn btn-default btn-fab btn-info"><i class="material-icons">grade</i></a>
				  		<span class="patternName">Pattern 7</span>
				  	</div>
				  	<div id="pattern_8_E" class="patternGroup">
				  		<a href="javascript:void(0)" class="btn btn-default btn-fab btn-info"><i class="material-icons">grade</i></a>
				  		<span class="patternName">Pattern 8</span>
				  	</div>
				  	<div id="pattern_9_E" class="patternGroup">
				  		<a href="javascript:void(0)" class="btn btn-default btn-fab btn-info"><i class="material-icons">grade</i></a>
				  		<span class="patternName">Pattern 9</span>
				  	</div>
				  </div>
				  <div class="panel-footer" style="margin-bottom: -20px;">
				  	<h3 style="margin: 0;">Score</h3>
				  	<h1 id="score_E" style="margin: 0;">0000</h1>
				  </div>
				</div>
			</div>
		  </div>
		  <div class="tab-pane fade" id="GroupF">
			<div class="col-md-12">
				<div class="panel panel-default col-md-12 " style="margin-top: 20px; margin-bottom: 0px; background: #20BD39; color: #fff;">
				  <div class="panel-body text-center">
						<img  id="display_icon"src="img/game_ledcube.png" alt="">
						<h1 id="display_teamName" style="font-size: 18pt;">Kicking Sparking</h1>
				  </div>
				</div>
				<div class="panel panel-default col-md-12 patternList" style="margin-top: 0px;">
				  <div class="panel-body">
				  	<div id="pattern_1_F" class="patternGroup">
				  		<a href="javascript:void(0)" class="btn btn-default btn-fab btn-info"><i class="material-icons">grade</i></a>
				  		<span class="patternName">Pattern 1</span>
				  	</div>
				  	<div id="pattern_2_F" class="patternGroup">
				  		<a href="javascript:void(0)" class="btn btn-default btn-fab btn-info"><i class="material-icons">grade</i></a>
				  		<span class="patternName">Pattern 2</span>
				  	</div>
				  	<div id="pattern_3_F" class="patternGroup">
				  		<a href="javascript:void(0)" class="btn btn-default btn-fab btn-info"><i class="material-icons">grade</i></a>
				  		<span class="patternName">Pattern 3</span>
				  	</div>
				  	<div id="pattern_4_F" class="patternGroup">
				  		<a href="javascript:void(0)" class="btn btn-default btn-fab btn-info"><i class="material-icons">grade</i></a>
				  		<span class="patternName">Pattern 4</span>
				  	</div>
				  	<div id="pattern_5_F" class="patternGroup">
				  		<a href="javascript:void(0)" class="btn btn-default btn-fab btn-info"><i class="material-icons">grade</i></a>
				  		<span class="patternName">Pattern 5</span>
				  	</div>
				  	<div id="pattern_6_F" class="patternGroup">
				  		<a href="javascript:void(0)" class="btn btn-default btn-fab btn-info"><i class="material-icons">grade</i></a>
				  		<span class="patternName">Pattern 6</span>
				  	</div>
				  	<div id="pattern_7_F" class="patternGroup">
				  		<a href="javascript:void(0)" class="btn btn-default btn-fab btn-info"><i class="material-icons">grade</i></a>
				  		<span class="patternName">Pattern 7</span>
				  	</div>
				  	<div id="pattern_8_F" class="patternGroup">
				  		<a href="javascript:void(0)" class="btn btn-default btn-fab btn-info"><i class="material-icons">grade</i></a>
				  		<span class="patternName">Pattern 8</span>
				  	</div>
				  	<div id="pattern_9_F" class="patternGroup">
				  		<a href="javascript:void(0)" class="btn btn-default btn-fab btn-info"><i class="material-icons">grade</i></a>
				  		<span class="patternName">Pattern 9</span>
				  	</div>
				  </div>
				  <div class="panel-footer" style="margin-bottom: -20px;">
				  	<h3 style="margin: 0;">Score</h3>
				  	<h1 id="score_F" style="margin: 0;">0000</h1>
				  </div>
				</div>
			</div>
		  </div>
		</div>

	<div id="poweredby" class="col-md-12" data-toggle="modal" data-target="#totalScores"></div>
	</div>
	
	<script>
		var simulatorMode = -1;;
		$.material.init();


		$(document).keyup( function(e){
			// console.log(e.keyCode);
			if(e.keyCode == 16){
				// $("div.blurry").click();
				$("#totalScores").modal("toggle");
				// $(".blurry").toggleClass("active");
			} 
		});
	</script>
	<script type="text/javascript" src="js/slideChangerRequest.js"></script>
	<script type="text/javascript" src="js/scoring.js"></script>

</body>
</html>